<fieldset>
  <legend><%= l(:label_tracker_plural) %></legend>
  
  <p>
    <label><%= l(:label_project_plural) %>:</label>
    <%= select_tag("settings[default_project_id]", options_from_collection_for_select(Project.all, :id, :name, @settings['default_project_id'])) %>
  </p>

  <p>
    <label><%= l(:label_tracker_plural) %>:</label>
    <%= select_tag("settings[default_tracker_id]", options_from_collection_for_select(Tracker.all, :id, :name, @settings['default_tracker_id'])) %>
  </p>
</fieldset>
